<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./index.css" />
    <title>App mascotas</title>
  </head>

  <body>
    <div id="app" class="all">
      <div class="text-center main" v-if="isLogin">
        <div class="login">
          <form class="form-signin">
            <img
              class="mb-4 login-image"
              src="./images/logo.png"
              alt=""
              width="72"
              height="72"
            />
            <h1 class="h3 mb-3 font-weight-normal">Iniciar sesión</h1>
            <label for="username" class="sr-only">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              placeholder="Username"
              required
              autofocus
              v-model="username"
            />
            <label for="inputPassword" class="sr-only">Contraseña</label>
            <input
              type="password"
              id="inputPassword"
              class="form-control"
              placeholder="Contraseña"
              required
              v-model="password"
            />

            <button
              @click.prevent="login"
              class="btn btn-lg btn-success btn-block mt-3"
              type="submit"
            >
              Iniciar sesión
            </button>
          </form>
        </div>
      </div>
      <div class="container main-container">
        <!-- LANDPAGE -->
        <div class="container pets-list-container" v-if="isLandPage">
          <!-- NAVBAR -->
          <div class="container land-page">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <div class="container-fluid">
                <img class="logo-img" src="./images/logo.png" />
                <button
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarNavAltMarkup"
                  aria-controls="navbarNavAltMarkup"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a @click.prevent="showAdopt" class="nav-link" href="#"
                      >Adoptar</a
                    >
                    <a
                      @click.prevent="giveForAdoption"
                      class="nav-link"
                      href="#"
                      >Dar en adopcion</a
                    >
                    <a
                      v-if="isAdmin"
                      @click.prevent="showAdminList"
                      class="nav-link"
                      href="#"
                      >Ver listado</a
                    >
                  </div>
                </div>
                <div class="ms-auto order-last">
                  <button @click="logout" type="button" class="btn btn-danger">
                    Cerrar sesión
                  </button>
                </div>
              </div>
            </nav>
            <img class="lp-image" src="./images/bg-landpage.jpeg" />
          </div>
        </div>

        <!-- listado -->
        <div v-if="isPetList">
          <div class="title-section mt-3 mb-3">
            <h3>Adoptar una mascota</h3>
          </div>
          <div class="row pets-list">
            <div
              v-for="pet in availablePets"
              class="card m-2 p-3"
              style="width: 18rem"
            >
              <img class="card-img-top" :src="pet.image" alt="Card image cap" />
              <div class="card-body">
                <h5 class="card-title">{{ pet.name }}</h5>
                <p class="card-text">{{ pet.description }}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <b>Raza:</b> {{ pet.breed }} <b>Color:</b> {{ pet.color }}
                </li>
                <li class="list-group-item">
                  <b>Género:</b> {{ pet.gender }} <b>Edad:</b>
                  {{ pet.age }} meses
                </li>
                <li class="list-group-item"></li>
              </ul>

              <button @click="adopt(pet)" type="button" class="btn btn-success">
                Adoptar!
              </button>
            </div>
          </div>
        </div>
        <!-- UPLOAD IMAGE -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload image</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div
                  v-if="specie==='Perro'"
                  v-for="image in imagesToUploadDogs"
                  class="card"
                  style="width: 18rem"
                >
                  <div>
                    <img :src="image.url" class="card-img-top" alt="..." />
                    <div class="card-body">
                      <a
                        @click="assignImage(image)"
                        href="#"
                        class="btn btn-success"
                        >Select</a
                      >
                    </div>
                  </div>
                </div>

                <div
                  v-if="specie==='Gato'"
                  v-for="image in imagesToUploadCats"
                  class="card"
                  style="width: 18rem"
                >
                  <div>
                    <img :src="image.url" class="card-img-top" alt="..." />
                    <div class="card-body">
                      <a
                        @click="assignImage(image)"
                        href="#"
                        class="btn btn-success"
                        >Select</a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cerrar
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- GIVE FOR ADOPTION -->
        <div
          v-if="isGiveForAdoption"
          class="container give pt-3 align-content-center"
        >
          <div class="title-section">
            <h3>Dar en adopción</h3>
          </div>

          <select
            v-model="specie"
            class="form-select mt-3 mb-3"
            aria-label="Default select example"
          >
            <option disabled selected>Seleccione una especie</option>
            <option value="Perro">Perro</option>
            <option value="Gato">Gato</option>
          </select>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nombre</span>
            <input
              v-model="name"
              type="text"
              class="form-control"
              placeholder="Nombre de la mascota"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Raza</span>
            <input
              v-model="breed"
              type="text"
              class="form-control"
              placeholder="Raza de la mascota"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Color</span>
            <input
              v-model="color"
              type="text"
              class="form-control"
              placeholder="Color de la mascota"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Edad</span>
            <input
              v-model="age"
              type="text"
              class="form-control"
              placeholder="Edad en meses de la mascota"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>

          <select
            v-model="gender"
            class="form-select mt-3 mb-3"
            aria-label="Default select example"
          >
            <option disabled selected>Seleccione un género</option>
            <option value="Hembra">Hembra</option>
            <option value="Macho">Macho</option>
          </select>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Description</span>
            <input
              v-model="description"
              type="text"
              class="form-control"
              placeholder="Descripción de la personalidad de la mascota"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>

          <div class="card mt-3" style="width: 18rem">
            <img :src="image?.url" class="card-img-top" alt="..." />
            <div class="card-body">
              <button
                type="button"
                class="btn btn-warning"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                @click="uploadImage"
              >
                Upload image
              </button>
            </div>
          </div>

          <button
            @click.prevent="addPet"
            type="button"
            class="btn btn-success m-3"
          >
            Save
          </button>
        </div>

        <!-- LIST ADMIN -->
        <div v-if="isAdminList">
          <div class="title-section mt-3">
            <h3>Listado de mascotas</h3>
          </div>
          <table class="table list-pets mt-3">
            <thead>
              <tr>
                <th scope="col">Foto</th>
                <th scope="col">Nombre</th>
                <th scope="col">Especie</th>
                <th scope="col">Raza</th>
                <th scope="col">Género</th>
                <th scope="col">Edad</th>
                <th scope="col">Color</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="pet in availablePets">
                <td class="td-list-image">
                  <img class="list-image" :src="pet.image" />
                </td>
                <td>{{ pet.name }}</td>
                <td>{{ pet.specie }}</td>
                <td>{{ pet.breed }}</td>
                <td>{{ pet.gender }}</td>
                <td>{{ pet.age }}</td>
                <td>{{ pet.color }}</td>
                <td>
                  <b>
                    {{ pet.status }}
                  </b>
                </td>
              </tr>
              <tr v-for="petA in adoptedPets">
                <td class="td-list-image">
                  <img class="list-image" :src="petA.image" />
                </td>
                <td>{{ petA.name }}</td>
                <td>{{ petA.specie }}</td>
                <td>{{ petA.breed }}</td>
                <td>{{ petA.gender }}</td>
                <td>{{ petA.age }}</td>
                <td>{{ petA.color }}</td>
                <td>
                  <b>
                    {{ petA.status }}
                  </b>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./index.js"></script>
  </body>
</html>
